.resources-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.resources-banner {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
}

.resources-banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.resources-title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.resources-title {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.resources-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem;
}

.resource-links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.resource-image-container {
    width: 20rem;
    height: auto;
}

.resource-image-container img {
    width: 100%;
    height: auto;
    border: 1px solid rgb(8, 0, 255);
}

.resources-content h3 {
    font-size: 1rem;
}

.resources-content h1 {
    margin-bottom: 0rem;
}

.resources-content-description {
    font-size: 1rem;
    margin-top: 0rem;
    color: rgb(84, 84, 84);
}

.divider {
    width: 100%;
    height: 1px;
    background: #ee4b00;
    margin: 10px 0;
}

.useful-websites-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;

}

.useful-websites-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.useful-websites-container ul {
    list-style-type: none;
    padding: 0;
}

.useful-websites-container li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.useful-websites-container li:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.useful-websites-container a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.useful-websites-container a:hover {
    text-decoration: underline;
}

.useful-websites-container p {
    color: #555;
    margin-top: 5px;
}

@media (max-width: 540px) {
    .resources-title {
        font-size: 2rem;
    }

    .resources-content {
        padding: 0rem;
        align-items: center;
    }

    .resource-links-container {
        flex-direction: column;
    }

    .resources-content h1 {
        font-size: 1.3rem;
    }

    .resources-content-description {
        font-size: 0.8rem;
    }

    .useful-websites-container h1 {
        font-size: 1.3rem;
    }

    .useful-websites-container li {
        font-size: 0.8rem;
    }



}