.favorite-providers-page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
  background: linear-gradient(to right top, #dcc48bad, #fff9c4);
}

.favorite-provider-list-section {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.favorite-provider-number {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 25px;
  background-color: white;
  border-radius: 3.3rem;
  width: 400px;
  align-items: center;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
margin-bottom: 1.2em;
}

.favorite-provider-list-section {
  margin-left: 1em;
  margin-right: 1em;
}

.banner-image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
}

.glass {
  margin: 0.5em;
background: #eaeaea;
  /* background: linear-gradient(
    to right bottom,
    rgba(255, 252, 232, 0.751),
    rgba(131, 128, 141, 0.524)
  ); */
  border-radius: 3.3rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glass.with-pagination {
  margin-bottom: 80px;
}

.favorite-pagination-controls {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 1.5rem;
}

.favorite-provider-section-button {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}

.favorite-provider-section-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.favorite-provider-info {
  padding-bottom: 15px;
}

.glass::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 50px;
  pointer-events: none;
}

@media (max-width: 540px) {
  .providers-banner-title {
    font-size: 2rem;
  }

  .favorite-provider-number {
    font-size: 1rem;
  }
}
