/* Modal backdrop to dim the background */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    height: fit-content;
    z-index: 1010;
}

.modal h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
}

.counties-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.county-option {
    display: flex;
    align-items: center;
}

.county-option input {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

.counties-options-button {
    display: block;
    width: 31.5%;
    padding: 10px 20px;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.counties-options-button:hover {
    background-color: #e65c00;
}

.counties-options-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.countyModalButtonSection {
    display: flex;
}

@media (max-width: 540px) {
    .modal {
        width: 90%;
        padding: 15px;
    }
    .counties-options {
        grid-template-columns: repeat(2, 2fr);
        border: 1px solid red;
    }
    .county-option {
        width: 100%;
    }
}