/* Modal backdrop to dim the background */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.counties-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    height: 80%;
    z-index: 1010;
}

.counties-modal h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
}

.counties-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.county-option {
    display: flex;
    align-items: center;
}

.county-option input {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

.county-option label {
    color: black;
}

.counties-options-button {
    display: block;
    width: 31.5%;
    padding: 10px 20px;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.counties-options-button:hover {
    background-color: #e65c00;
}

.counties-options-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.countyModalButtonSection {
    display: flex;
}

@media (max-width: 540px) {
    .counties-modal {
        width: 90%;
        padding: 15px;
        justify-content: center;
        height: fit-content;
    }

    .counties-options {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5rem;
    }

    .county-option {
        width: 40%;
        margin: 0;
        padding: 0;
    }
}

@media (max-height: 1066px) and (orientation: landscape) {
    .counties-modal {
        top: 2%;
        transform: translate(-50%, 0%);
        height: 80vh;
        max-height: 80vh;
        display: flex;
        flex-direction: column;
    }

    .counties-options {
        overflow-y: auto;
        scrollbar-color: #000 #fff;
    }
}

@media (min-height: 1558px) and (orientation: portrait) {
    .counties-modal {
        max-height: fit-content;
    }

}