.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%; 
    max-width: 1200px; 
    height: 80%;
    z-index: 1010;
    margin: 0 auto;
    overflow-y: auto; 
}

.modal h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-insurance-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.modal-insurance {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.modal-insurance input {
    margin-right: 10px;
}
.insuranceModalButtons {
    display: flex;
}

.insurance {
    display: block;
    padding: 10px 20px;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.insurance:hover {
    background-color: #ff4d00;
}

@media (max-width: 768px){
    .modal {
        height: 90vh; /* Change from 80% to 90vh */
        max-height: 90vh; /* Add this line */
        overflow-y: scroll; /* Change from auto to scroll */
        justify-content: center;
        /* padding: 0; */
    }
    .modal-insurance-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0;
        text-wrap: nowrap;
        font-size: 12px;
        margin: 0;
        gap: 25px;
    }
    .modal-insurance input {
        width: 15%;
        margin: 5px; 
        padding: 0;
    }
}

@media (max-height: 600px) and (orientation: landscape) {
    .modal {
        transform: translate(-50%, 0);
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        overflow-y: scoll;
    }

    .modal h2 {
        margin-bottom: 10px;
    }

    .modal-insurance-container {
        flex-grow: 1;
        overflow-y: auto;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        padding: 10px;
    }

    .modal-insurance {
        font-size: 12px;
    }
}

@media (max-height: 1000px) and (orientation: landscape) {
    .modal {
        top: 0;
        transform: translate(-50%, 0);
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .modal h2 {
        margin-bottom: 10px;
    }

    .modal-insurance-container {
        flex-grow: 1;
        overflow-y: auto;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        padding: 10px;
    }

    .modal-insurance {
        font-size: 12px;
    }
}