.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid orange;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.main-logo {
    width: 27rem;
    height: auto;
}

.menu {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 2rem;
}