.pageNotFoundWrapper {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageNotFoundWrapper img {
    width: 50%; 
    height: 100%; 
    transform-origin: center;
    animation: rotateIn 2s ease-out forwards;
}

.homeButton {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: rgb(251, 99, 57);
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.homeButton:hover {
    background-color: rgb(255, 0, 0);
}

@keyframes rotateIn {
    0% {
        opacity: 0;
        transform: rotate(90deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}


@media (max-width: 768px) {
    .pageNotFoundWrapper img {
        width: 100%;
    }
}