.loginWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.loginImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loginImageText {
    position: absolute;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.loginContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loginForm {
    position: absolute;
    bottom: 40%;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.password,
.username {
    font-size: 30px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 10px;
    height: 50px;
    width: 80%;
    position: relative;
}

.userIcon,
.lockIcon,
.mailIcon {
    position: absolute; 
    pointer-events: none; 
    color: rgb(251, 99, 57);

}

.userIcon,
.lockIcon,
.mailIcon{
    left: 1.2rem;
}

.eyeButton {
    position: absolute;
    right: 0;
    top: 2rem;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
}

.eye {
    position: absolute;
    margin: 5px;
    right: 1rem;
    bottom: -.5rem;
    cursor: pointer;
    color: rgb(251, 99, 57);
}

.input input {
    width: calc(100% - 90px); 
    height: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.5rem;
    padding-left: 50px;
}

.input input::placeholder {
    color: silver;
}

.submit-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.loginButton {
    background-color: rgb(251, 99, 57);
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    text-decoration: none;
}

.forgot-password {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.forgot-password span {
    color: rgb(251, 99, 57);
    cursor: pointer;
}

.loginButton:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(251, 99, 57);
}

.gray {
    background: #eaeaea;
    color: #676767
}

.signupMessage {
    width: 100%;
    font-size: 15px;
    height: 100%;
}