.discover-section {
    width: auto;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.discover-section-backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(100%);
    opacity: 0.55;
    background-color: white;
}

.discover-section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.discover-section-title {
    font-size: 2.5rem;
    color: rgb(208, 87, 1);
    text-align: center;
    font-weight: 600;
}

.discover-section-description {
    font-size: 1rem;
    color: white;
    text-align: center;
    max-width: 18rem;
    margin: 0;
    background-color: rgba(47, 47, 47, 0.5);
    border-radius: 20px;
    padding: 0.7rem;
}

.discover-section-button {
    background-color: #b12a33;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0.6rem;
    margin-left: 1rem;
    cursor: pointer;
}

@media (max-width: 480px) {
    .discover-section {
        height: auto;
        justify-content: flex-start;
        align-items: center;
    }

    .discover-section-backgroundImage {
        width: 100%;
        height: auto;
    }

    .discover-section-title {
        margin-top: 3rem;
        font-size: 1rem;
        max-width: 20rem;
    }

    .discover-section-description {
        font-size: 0.5rem;
        max-width: 10rem;
    }

    .discover-section-button {
        font-size: 0.5rem;
    }
}