/* DISCOVER SECTION */
.discover-section {
    width: 100%;
    height: 45rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover-section-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    margin-bottom: 1rem;
}

.discover-section-backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(100%);
    opacity: 0.55;
    background-color: white;
}

.discover-section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.discover-section-title {
    font-size: 2.5rem;
    color: rgb(208, 87, 1);
    text-align: center;
    font-weight: 600;
}

.discover-section-description {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    max-width: 30rem;
    margin: 0;
    background-color: rgba(47, 47, 47, 0.5);
    border-radius: 20px;
    padding: 1rem;
}

.discover-section-button {
    background-color: #b12a33;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    padding: 0.6rem;
    margin-left: 1rem;
    cursor: pointer;
}


@media (max-width: 540px) {
    .discover-section {
        margin: 0;
        padding-bottom: 0;
        height: 60vh;
    }

    .discover-section-backgroundImage {
        height: 100%;
    }

    .discover-section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .discover-section-title {
        font-size: 1rem;
        max-width: 20rem;
    }

    .discover-section-description {
        font-size: 0.7rem;
        max-width: 20rem;
    }

    .discover-section-button {
        font-size: 0.7rem;
        margin-top: 1rem;
    }

}

/* COUNTY SECTION */
.county-section {
    color: white;
    background-color: rgb(255, 123, 0);
    height: 8rem;
    margin-top: 0;
    z-index: 2;
}

.county-section-title {
    margin: 0;
    padding: 0.7rem;
}

.county-section-list-wrapper {
    overflow: hidden;
    max-width: 100%;
}

.county-section-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    flex-wrap: nowrap;
    animation: moveLeft 60s linear infinite;
    white-space: nowrap;
    margin: 0;
}

.county-section-list p {
    white-space: nowrap;
    font-weight: 700;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.county-section-list-wrapper:hover .county-section-list {
    animation-play-state: paused;
}

@media(max-width:540px) {
    .county-section {
        display: flex;
        flex-direction: column;
        height: 4.5rem;
        margin-top: 0;
    }

    .county-section-title {
        font-size: 0.7rem;
    }

    .county-section-list-wrapper {
        overflow: hidden;
    }

    .county-section-list p {
        font-size: 0.8rem;
        text-align: center;
        margin: 0;
    }
}

/* BEGIN SECTION */
.begin-section {
    display: flex;
    flex-direction: column;
}

.begin-section-description {
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 2rem;
}

.begin-section-button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.begin-section-button1,
.begin-section-button2 {
    width: 15rem;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 1rem;
    background-color: rgb(1, 178, 1);
}

.begin-section-button2 {
    background-color: rgb(18, 18, 248);
}

@media (max-width:540px) {
    .begin-section-title {
        font-size: 1rem;
        margin: 0.3rem;
    }

    .begin-section-description {
        font-size: 0.8rem;
        max-width: 90%;
    }

    .begin-section-title {
        font-size: 0.9rem;
    }

    .begin-section-description {
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }

    .begin-section-button1,
    .begin-section-button2 {
        width: 8rem;
        font-size: 0.6rem;
        padding: 0.3rem;
    }
}