html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid orange;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.grid {
  display: grid;
}

.title {
  font-family: "Gotham", sans-serif;
  color: #424266;
  font-weight: 700;
}

.text {
  text-align: center;
  text-align: justify;
  font-weight: 400;
  color: #565656;
  
}