.superAdminWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.superAdminDashboardWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* margin-top: 20px; */
}

.superAdminProvidersListWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}



.superAdminEditWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.superAdminLogoutButton {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.superAdminLogoutButton:hover {
    background-color: rgb(163, 158, 156);
    color: white;
}