.superAdminEditFormWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.formContent {
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
}

.providerNameWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.firstColumn,
.secondColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.firstColumn, .secondColumn input{
    width: 50%;
}

.superAdminEditForm {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.superAdminEditForm input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.superAdminEditForm label {
    width: fit-content;
    margin-left: 10px;
    color: rgb(255, 64, 0);
}

.superAdminEditForm button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.editButtons,
.add-location-button {
    width: 50%;
}

.superAdminEditForm button:hover {
    background-color: rgb(175, 175, 175);
}

.superAdminEditFormName {
    color: rgb(255, 64, 0);
}

.superAdminEditFormButtonsWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.providerNameInput {
    width: 50%;
}

@media (max-width: 819px) {
    .superAdminEditForm {
        width: 100%;
    }
    .superAdminEditFormWrapper {
        height: 100%;
        flex-direction: column;
    }
    .formContent {
        flex-direction: column;
    }
    .firstColumn,
    .secondColumn {
        width: 100%;
    }
}