.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-overlay.show {
  opacity: 1;
}

.modal-overlay.hide {
  opacity: 0;
}

.modal-container {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(227, 227, 227);
  border-radius: 15px;
  overflow: hidden;
}

.modal-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-grid-map {
  height: 70%;
}

.modal-logo {
  padding-top: 1em;
  background-color: rgb(210, 195, 149);
  transition: background-color 0.3s ease; 
}

/* .modal-logo:hover {
  background-color: white;
} */

.modal-img {
  width: 180px;
  height: auto;
  padding: .3em;
  border-radius: .5em;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.modal-text-section {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: .5em;
}

.modal-grid-text {
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  background: transparent;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: #4e1818;
}

.modal-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.tab-button {
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: .5em .5em 0 0em;
  transition: background-color 0.3s;
}

.review-section {
  margin: 2rem;
  padding-bottom: 6rem;
  justify-content: center;
  align-items: center;
}

.media-section {
  margin: 2rem;
  padding-bottom: 6em;
  justify-content: center;
  align-items: center;
}

.tab-button:hover {
  background-color: #f0f0f0;
}

.tab-button.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.modal-text-section {
  max-height: calc(100% - 60px);
}

.view-on-map-button {
  background-color: #007bff; /* Customize button background color */
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add smooth transition for both background and transform */
  transform: scale(1); /* Initial state */
}

.view-on-map-button:hover {
  background-color: #0056b3; /* Hover effect */
  color: white;
  transform: scale(1.05); /* Slight scaling effect on hover */
}


.email-text {
  border-bottom: 1.5px solid #9ea3a8;
  transition: border-color 0.3s ease;
  padding-bottom: 6px;
}

.close-button:hover {
  color: #ff0000;
}

.modal-grid-text strong {
  color: #424266;
}

.provider-details {
  grid-template-columns: 40px auto;
  text-align: left;
  padding-bottom: .5rem;
}

.provider-details p {
  margin-bottom: 4px;
  line-height: 1;
}

.provider-address-phone {
  text-align: left;
}

.provider-address-phone svg {
  vertical-align: middle;
}

.last-update {
  padding-left: 16px;
  margin-top: .5px;
  margin-bottom: 0;
  line-height: 1;
}

.website-update-container {
  display: flex;
  gap: 7.5rem;
  align-items: center;
}

.email-update-container {
  display: flex;
  gap: 19.5rem;
  align-items: center;
}

.counties-update-container {
  display: flex;
  gap: 11rem;
  align-items: center;
}

.ages-update-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.waitlist-update-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.telehealth-update-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.athome-update-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.inclinic-update-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.spanish-update-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.insurance-update-container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

@media (min-width: 1024px) {
  .modal-grid {
    flex-direction: row;
  }

  .modal-grid-map {
    width: 50%;
    height: auto;
  }

  .modal-grid-text {
    width: 50%;
  }
}

/* font sizes */
.provider-name {
  font-size: 32px;
  margin-top: 16px;
  border-bottom: 1px solid #9ea3a8;
  padding-bottom: 8px;
}

.provider-main-info {
  text-align: justify;
}

.last-update {
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
  padding-left: 20px;
  display: flex;
}

/* Font sizes for multiple screens */
@media (max-width: 1024px) {
  .provider-name {
    font-size: 28px;
  }

  .provider-address-phone {
    font-size: 17px;
  }

  .provider-details {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .provider-name {
    font-size: 22px;
  }

  .provider-address-phone {
    font-size: 16px;
  }

  .provider-details {
    font-size: 13px;
  }
}


@media (max-width: 576px) {
  .provider-address-phone {
    font-size: 14px;
  }

  .provider-details {
    font-size: 12px;
  }

}

/* multiple locations */
.provider-address-phone .multiple-locations {
  font-size: 17px;
}


@media (max-width: 1024px) {
  .provider-address-phone .multiple-locations {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .provider-address-phone .multiple-locations {
    font-size: 14px;
  }
}

@media (max-width: 1023px) and (orientation: landscape) {
  .modal-grid {
    flex-direction: row;
  }

  .modal-grid-map {
    width: 50%;
    height: 100%;
  }

  .modal-grid-text {
    width: 50%;
    height: 100%;
    overflow-y: auto;
  }

  .modal-container {
    overflow: hidden; 
  }

  .provider-name {
    font-size: 24px;
    margin-top: 8px;
    padding-bottom: 4px;
  }

  .modal-tabs {
    margin-bottom: 0.5rem;
  }

  .tab-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
  }

  .modal-text-section {
    padding: 0.5em;
  }

  .provider-address-phone, .provider-details {
    font-size: 14px;
  }
}