.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(227, 227, 227);
}

.modal-grid .modal-grid-text {
  padding: 32px;
}

@media (max-width: 1024px) {
  .modal-grid .modal-grid-text {
    padding: 24px;
  }
}

.modal-grid .modal-grid-map {
  height: auto;
}

@media (max-width: 1024px) {
  .modal-grid .modal-grid-map {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .modal-grid .modal-grid-img {
    height: 280px;
  }
}

@media (max-width: 576px) {
  .modal-grid .modal-grid-map {
    height: 200px;
  }
}

.modal-grid .modal-footer {
  color: blue;
}

@media (max-width: 1024px) {
  .modal-grid {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
  }
}

.modal-img {
  width: 50%;
  border-radius: 15px;
  height: auto;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.provider-name {
  font-size: 36px;
  margin-top: 16px;
  margin-bottom: 32px;
}

@media (max-width: 1024px) {
  .provider-name {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .provider-name {
    font-size: 22px;
  }
}

.provider-address-phone {
  font-size: 18px;
}


@media (max-width: 1024px) {
  .provider-address-phone {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .provider-address-phone {
    font-size: 15px;
  }
}

.modal-footer {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.provider-details-section .grid {
  grid-template-columns: 40px auto;
  column-gap: 12px;
  text-align: right;
}
.provider-details {
  text-align: left;
}

/* multiple locations */
.provider-address-phone .multiple-locations {
  font-size: 17px;
}


@media (max-width: 1024px) {
  .provider-address-phone .multiple-locations {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .provider-address-phone .multiple-locations {
    font-size: 14px;
  }
}