.contact-page {
    display: flex;
    flex-direction: column;
}

.contact-us-text {
    margin-top: 2rem;
    align-self: center;
}

.contact-us-phone-number {
    color: rgb(251, 145, 15);
}

.contact-content{
    background-color: #f7eee4;
    padding-bottom: 2em;
}

.contact-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.contact-banner-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-banner-title {
    position: absolute;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.contact-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.contact-input-name,
.contact-input-email,
.contact-input-message {
    width: 30%;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: whitesmoke;
    margin-top: 1rem;
}

.contact-page-button {
    margin-top: 1.5rem;
    padding: 1rem;
    width: 10%;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(251, 145, 15);
    color: white;
    font-size: 1.15rem;
    font-weight: 800;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.contact-page-button:hover {
    background-color: rgb(219, 166, 105);
    transform: translateY(-2px);
}

.contact-input-message,
.contact-input-email,
.contact-input-name {
    outline: 2px solid hsl(0, 0%, 58%);
}

input:not(:placeholder-shown):valid {
    outline-color: var(--clr-success);
}

input:not(:placeholder-shown):invalid {
    outline-color: var(--clr-error);
}

input:focus:invalid {
    outline-color: var(--clr-warning);
}

.contact-input-message:valid {
    height: 7vh;
}

:root {
    --clr-success: green;
    --clr-error: red;
    --clr-warning: orange;
}

@media (max-width: 540px) {

    .contact-input-name,
    .contact-input-email,
    .contact-input-message {
        width: 60%;
    }

    .contact-page-button {
        width: 40%;
    }

    .contact-banner-title {
        font-size: 2rem;
    }
}