.signupImageText {
    position: absolute;
    color: rgb(251, 99, 57);
    font-size: 2.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 10px;
    top: 2%;
    left: 38%;
}

.signupContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.signupForm {
    position: absolute;
    bottom: 40%;
    left: 20%;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.signupInstructions {
    position: absolute;
    bottom: 20%;
    background-color: rgba(0, 0, 0, .9);
    width: 30%;
    padding: 1rem;
    color: rgb(251, 99, 57);
    right: 20%;
    border-radius: .5rem;
}

.signupInstructions p {
    color: white;
}

.step1,
.step2,
.step3,
.step4 {
    display: flex;
    align-items: center;
    margin: 1rem;
    text-wrap: wrap;
}

.instructionIcons {
    width: 100%;
    padding: 1rem;
    justify-self: start;
}

.iconContainer {
    width: 20%;
    margin-right: 5px;
}

.messageContainer {
    width: 80%;
    border-radius: 5rem;
}

.downArrow {
    display: flex;
    width: 100%;
    align-content: start;
}

.arrow1,
.arrow2,
.arrow3 {
    margin-left: 3.7rem;
}

.textIcon {
    color: rgb(251, 99, 57);
}

.step1,
.arrow1 {
    animation: fadeIn 2s ease-in-out;
}

.step2,
.arrow2 {
    animation: fadeIn 4s ease-in-out;
}

.step3,
.arrow3 {
    animation: fadeIn 8s ease-in-out;
}

.step4 {
    animation: fadeIn 10s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 540px){
    .signupWrapper {
        position: static;
        width: 100%;
        height: 100vh;
    }
    .signupContainer {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .signupImageText { 
        top: 5%;/* Remove absolute positioning */
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    .signupForm {
        position: static; /* Remove absolute positioning */
        width: 100%;
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .signupInstructions {
        position: static; /* Remove absolute positioning */
        width: 100%;
        height: auto;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .step1,
    .step2,
    .step3,
    .step4 {
        flex-direction: column;
        align-items: center;
    }

    .iconContainer {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .messageContainer {
        width: 100%;
    }

    .downArrow {
        justify-content: center;
    }

    .arrow1,
    .arrow2,
    .arrow3 {
        margin-left: 0;
        margin-top: 0.5rem;
    }
}
